/* Definición de variables de color */
:root {
    /* Color gunmetal */
    --gunmetal: #2d3142ff;
    /* Color silver */
    --silver: #bfc0c0ff;
    /* Color white */
    --white: #ffffffff;
    /* Color coral */
    --coral: #ef8354ff;
     /* Color coral */
     --verdeAgua: #c1f7f5;
     /* Color coral */
     --verdeManzana: #e6d721
    
  }
  