.container{
    justify-content: center;
    padding: 3%;
}

.cards { /*este hay que modificar si se quieren mover las cards chicas*/
    display: flex;
    flex-direction: row;
    background-color: #70A762;
    flex-wrap: wrap ;
    width: 90%;
    justify-content: center;
    margin: auto;
 }

 
