.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20%;
    padding: 40px;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
    transition: box-shadow .3s ease, transform .2s ease;
    border-radius: 5px;
    box-shadow: 0 8px 20px #23232333;
  }

  .container button{
    display: flex;
    margin-top: 20px;
    background-color: #DF6E5A;
    padding: 8px;
    border-radius: 5px;
    color: white;
  }
  
  .container button:hover {
    transform: scale(1.1);
  }
  
  /* .cards {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    padding: auto;
    transition: box-shadow .3s ease, transform .2s ease;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 8px 20px #23232333;
  }
  
  .cardInfo {
    border: yellowgreen;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
    color: black;
  }
  
  .detailImg {
    background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
    width: 40%;
    border-radius: 10%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
    color: black;
  }
  
  .detailName {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
    color: black;
  }
  
  .details {
    color: #859ba8;
    font-size: 1em;
    margin-bottom: 30px;
    color: black;
  }
  
  .detailImg:hover {
    transform: scale(1.1);
  }
  
  .button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #f2f2f2;
      color: #333;
      text-decoration: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease-in-out;
      color: black;
    }
    
    .button:hover {
      transform: scale(1.1);
    }
    
    .option {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
    } */
