.container{
   display: flex;
   flex-wrap: row wrap;
   transition: box-shadow .3s ease, transform .2s ease;
   box-shadow: 2 8px 30px solid black;
}

.cards {
   display: flex;
   align-content: center;
   align-items: center;
   flex-direction: column;
   width: 275px;
   height: 350px;
   background: #f5f5f5;
   padding: 2%;
   margin: 2%;
   border: solid #70A762 4px;
}

.cardTitle {
   margin: 2%;
   justify-content: center;
   align-items: center;
   transition: transform .2s ease, opacity .2s ease;
   color: black;
}

.cardInfo {
   color: black;
   font-size: 1.1em;
   font-weight: 600;
   line-height: 1.2rem;
   /* linea del medio */
   justify-content: center;
}

.image {
   --size: 70px;
   width: var(--size);
   height: var(--size);
   border-radius: 50%;
   transition: transform .2s ease;
}

.image:hover {
   transform: scale(1.1);
}

.countryName {
   margin: 3px;
}

.button {
   display: flex;
   text-align: center;
   justify-content: center;
   margin-top: 10px;
   padding: 2px;
   border-radius: 5px;
   width: 100px;
   background-color: #DF6E5A;
   color: white;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   transition: transform 0.3s ease-in-out;
}

.button:hover {
   transform: scale(1.1);
}