
.detailWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 8%;
  /* background-image: url('');
  background-size: cover; */
  color: black;
}

.details{
  color: black;
}


.backgroundIframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  z-index: -2000; /* para colocar el iframe detrás de otros elementos */
  opacity: 2; 
}


.containerDetail {
  width: 40%;
  height: 50%;
  background: #f5f5f5;
  padding: 2rem 1.5rem;
  transition: box-shadow .3s ease, transform .2s ease;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 0 8px 50px #23232333;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
  color: black;
}

.detailImg {
  background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
  width: 40%;
  border-radius: 10%;
  transition: transform .2s ease;
  margin-bottom: 1rem;
  color: black;
}

.detailName {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
  color: black;
}

.details {
  color: #859ba8;
  font-size: 1em;
  margin-bottom: 30px;
  color: black;
}

.detailImg:hover {
  transform: scale(1.1);
}

.button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #DF6E5A;
    color: white;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.1);
  }
  
  .option {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }