h4{
   font-size: 2px;   
   }

.cardContainer {
   width: 190px;
   height: 260px;
   background: #f5f5f5;
   padding: 2rem 1.5rem;
   transition: box-shadow .3s ease, transform .2s ease;
   margin: 30px;
   border-radius: 5px;
   border: solid #70A762 4px;
}

.cardInfo {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: transform .2s ease, opacity .2s ease;
}

.image {
   --size: 80px;
   background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
   width: var(--size);
   height: var(--size);
   border-radius: 50%;
   transition: transform .2s ease;
   margin-bottom: 1rem;
}

.cardTitle {
   color: #333;
   font-size: 1em;
   font-weight: 600;
   line-height: 1.5rem;
   justify-content: center;
}

.cardSubtitle {
   color: black;
   font-size: 0.8em;
}

.image:hover {
   transform: scale(1.1);
}

.cardContainer:hover {
   box-shadow: 0 8px 50px #23232333;
}

.cardContainer:hover .card-info {
   transform: translateY(-5%);
}


a {
   text-decoration: none;
}

.info {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 10px;
   flex-wrap: wrap;
   align-content: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   color: #484848;
}

.imgContainer {
   display: flex;
   justify-content: center;
}

