.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    width: 90%;
    justify-content: center;
    margin: auto;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    width: 90%;
    justify-content: center;
    margin: auto;
 }