
.container {
    /* border: black solid 10px; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20%;
    background-image: url('https://www.countryreports.org/new-index-assets/images/hp-container-one-map.png');
    background-size: cover;
}

.spinner{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}
/*
.cards {
  border: color yellow solid 20px;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  padding: auto;
  transition: box-shadow .3s ease, transform .2s ease;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 8px 20px #23232333;
}


  
  
  .cardInfo {
    border: yellowgreen;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
    color: black;
  }
  
  .detailImg {
    background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
    width: 40%;
    border-radius: 10%;
    transition: transform .2s ease;
    margin-bottom: 1rem;
    color: black;
  }
  
  .detailName {
    color: #333;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
    color: black;
  }
  
  .details {
    color: #859ba8;
    font-size: 1em;
    margin-bottom: 30px;
    color: black;
  }
  
  .detailImg:hover {
    transform: scale(1.1);
  }
  
  .button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #f2f2f2;
      color: #333;
      text-decoration: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease-in-out;
      color: black;
    }
    
    .button:hover {
      transform: scale(1.1);
    }
    
    .option {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
    }

  .container button{
    display: flex;
    margin: 5%;
    background-color: #DF6E5A;
    color: white;
  }

  .container:hover {
    transform: scale(1.1);
  }
  */