.filtersContainer {
    display: flex;
    align-items: center;
  }
  
  .section {
    margin-right: 10px; 
  }

  .select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .select:hover {
    transform: scale(1.1);
  }
  
  .option {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }
  