.filtersContainer {
    display: flex;
    align-items: center;
  }
  
  .section {
    margin-right: 10px; 
  }

  .select {
    padding: 10px;
    border-radius: 5px;
    background-color: #DF6E5A;;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .select:hover {
    transform: scale(1.1);
  }
  
  .option {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
  }
  
  .clearButton{
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    background-color: #DF6E5A;
  }

 .refresh{
  color: white;
 }

.clearButton:hover {
    transform: scale(1.1);
 }
