.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.pageNumber {
  position: fixed;
  color: white;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #DF6E5A;
}

.previousButton {
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  align-content: space-between;
  margin: 7px;
}

.previousButton:hover {
  transform: scale(1.1);
}

.nextButton {
  padding: 10px;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  margin: 7px;
}

.nextButton:hover {
  transform: scale(1.1);
}