.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
}

.pageNumbers{
  display: flex;
  gap: 5px; /* espacio entre los botones */
  color: solid #70A762;
}

.previousButton{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    align-content: space-between;
    margin: 7px;
}

.previousButton:hover {
  transform: scale(1.1);
}

.nextButton{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    margin: 7px;
}

.nextButton:hover {
  transform: scale(1.1);
}