.landing {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/Users/natrangone/Documents/Coding Bootcamp Henry/CountriesAPP/Countries/client/src/assets/Enjoy the journey around the world! (1).png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #70A762;
  }
  
  .button {
    border-radius: 1px;
    color: white; 
    font-size: 150%;
  }
  