.landing {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url("https://i.ibb.co/thw6j3K/Enjoy-the-journey-around-the-world-1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #70A762;
  }
  
  .button {
    border-radius: 1px;
    display: flex;
    margin-top: 600px;
    color: white; 
    font-size: 150%;
  }
  