
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
.NavBar{
height: 12vh;
display: flex;
align-items: center;
justify-content: space-around;
background: #79B5B9;
}

.navLinks{
    display: flex;
    height: 7vh;
    align-items: center;
    background: #fff;
    padding: 20px 15px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    }
    .navLinks li{
    list-style: none;
    margin: 0 12px;
    }
    .navLinks li a{
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
    }
    .navLinks li a:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #DF6E5A;
    border-radius: 12px;
    transition: all 0.4s ease;
    }
    .navLinks li a:hover:before{
    width: 100%;
    }
    .navLinks li.center a:before{
    left: 50%;
    transform: translateX(-50%);
    }
    .navLinks li.upward a:before{
    width: 100%;
    bottom: -5px;
    opacity: 0;
    }
    .navLinks li.upward a:hover:before{
    bottom: 0px;
    opacity: 1;
    }
    .navLinks li.forward a:before{
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
    }
    .navLinks li.forward a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
    }
    
    
    